.history {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  transition: all 0.15s ease;
}

.history-date {
  display: flex;
  align-items: baseline;
}

.date {
  margin-left: 10px;
  margin-right: 10px;
}

.history-text {
  display: flex;
}

.reason {
  margin-left: 20px;
}
